*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #444;
}

ul {
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li{
    list-style: none;
    margin: 1.5vw;
    font-size: 3.6vw;
    transition: .5s;
}

ul li a{
    width: 9vw;
    padding: 2.5vw 0;
    display: block;
    color: #fff;
}

ul li:nth-child(1){
    background: #1877f2;
}

ul li:nth-child(2){
    background: #1da1f2;
}

ul li:nth-child(3){
    background: #e4405f;
}

ul li:nth-child(4){
    background: #171515;
}

ul li:nth-child(5){
    background: #cd201f;
}

ul li:hover{
    transform: translateY(-1.2vw);
    box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0, .5);
}