body{
    background-color: #0b0c22;
}

*{
    margin: 0;
    padding: 0;
}

p{
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    font-family: sans-serif;
    padding: 20px;
}

::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-track{
    border: 7px solid #232943;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5) inset;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: linear-gradient(
        45deg,
        #0ff,
        #7f0
    );
}

