*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #111;
}

.snowman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.head{
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
}

.eyes{
    text-align: center;
    margin-top: 40px;
}

.eyes span{
    display: inline-block;
    width: 15px;
    height: 0;
    background: #333;
    border-radius: 50%;
    margin: 0 20px;
    animation: eyes .5s linear forwards;
    animation-delay: 1.5s;
}

.nose{
    width: 15px;
    height: 0;
    background: red;
    border-radius: 50%;
    margin: 0 auto;
    animation: eyes .5s linear forwards;
    animation-delay: 2s;
}

.mouth {
    width: 0;
    height: 15px;
    background: #333;
    border-radius: 50%;
    margin: 15px auto 0;
    animation: mouth .5s linear forwards;
    animation-delay: 2.5s;
}

.body{
    width: 0;
    height: 0;
    background: #fff;
    border-radius: 50%;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: body 1s linear forwards;
    animation-delay: .5s;
}

.body span{
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
    margin: 5px;
}

@keyframes body {
    100%{
        width: 250px;
        height: 250px;
    }
}

@keyframes eyes {
    100%{
        height: 25px;
    }
}

@keyframes nose {
    100%{
        height: 30px;
    }
}

@keyframes mouth {
    100%{
        width: 40px;
    }
}